button {
    border-style: none;
    font-family: 'Poppins', sans-serif;
}

span {
    font-size: 1.5rem;
}

.main-home-bg {
    width: 100vw;
    height: 100vh;
    background: var(--black-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main-home-gamelogs {
    background: var(--gray-bg);
    margin: 5vw 6vw;
    border-radius: 5vw;
    width: 38vw;
    height: 90vh;

}

.home-text {
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1.5rem;
}

.main-home-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.main-home-extra {
    background: var(--gray-bg);
    margin: 1.5vw 6vw;
    border-radius: 5vw;
    width: 38vw;
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.play-button {
    width: max(3.8125vw, 5vh);
    height: max(3.8125vw, 5vh);
    border-radius: max(1.5vw, 2vh);
    border-style: hidden;
    background: var(--yellow);
    color: var(--black-bg);
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw;
}

.play-button:hover {
    box-shadow: inset 1px -1px 2px var(--dark-yellow);
}

.play-icon:hover {
    fill: var(--dark-yellow);
}

.game-body {
    width: 100vw;
    height: 100vh;
    background: var(--black-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score-main {
    color: white;
    margin-top: .5vw;
}

.score-val {
    font-weight: 800;
}

.time {
    color: white;
    margin-top: .5vw;

}

.flex-letters {
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 3vh 2vw;
}

.display-letter {
    background-color: var(--light-gray-bg);
    height: 13vw;
    width: 12vw;
    border-radius: 4vw;
}


.active-display-letter {
    background-color: var(--yellow);
    height: 13vw;
    width: 12vw;
    border-radius: 3.5vw;
    font-size: 8vw;
    font-weight: 800;
    cursor: pointer;
    transition: all 100ms ease-in;


}


.input-letter {
    background-color: var(--gray-bg);
    height: 7vw;
    width: 12vw;
    border-radius: 2.5vw;
    font-weight: 800;
}

.active-input-letter {
    background-color: var(--yellow);
    height: 7vw;
    width: 12vw;
    border-radius: 2.5vw;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    text-align: center;
    transition: all 100ms ease-in;

}

.actions {
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}

.submit {
    background-color: var(--light-gray-bg);
    height: 8vh;
    width: 8vw;
    border-radius: 2vw;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.backspace {
    background-color: var(--light-gray-bg);
    height: 8vh;
    width: 8vw;
    border-radius: 2vw;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.shuffle {
    background-color: var(--light-gray-bg);
    height: 8vh;
    width: 8vw;
    border-radius: 2vw;
    font-size: 1rem;
    font-weight: 800;
    cursor: pointer;
}

.shuffle:hover {
    background: var(--yellow);
    transition: all 200ms ease-in;
}


.submit:hover {
    background-color: var(--yellow);
    transition: all 200ms ease-in;
}

.backspace:hover {
    background-color: var(--yellow);
    transition: all 200ms ease-in;
}



.feedback-inactive {
    margin: 1vw 0 0 0;
    width: 40%;
    height: 5vh;
    border-radius: 2vw;
    background: var(--black-bg);
    border: 1px var(--light-gray-bg) solid;
}

.feedback-active {
    margin: 1vw 0 0 0;
    width: 40%;
    height: 5vh;
    border-radius: 2vw;
    background: var(--yellow);
    transition: all 100ms ease-in-out;
    text-align: center;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-box {
    background: var(--gray-bg);
    border-radius: 1.7vw;
    margin-top: 5vh;
    width: 38vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.score-box-text {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.score-text {
    padding: 2vw 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.score-text-val {
    padding-left: 0.5vw;
    font-weight: 800;
}

.results {
    background: var(--gray-bg);
    border-radius: 6vw;
    margin-top: 2vh;
    width: 40vw;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    color: white;

}

.results::-webkit-scrollbar {
    display: none;
}

.result-item {
    display: flex;
    width: 100%;
    margin: 0.5vh 1vw;
    justify-content: space-between;
    font-size: 1.5rem;

}

.result-item:first-child {
    margin-top: 5vh;

}

.result-item-text {
    margin: 0 5vw;


}

.result-item-text:first-child {
    font-weight: 800;
    color: var(--yellow);
}

.result-title {
    margin: 1vh;
    font-size: 3rem;
    font-weight: 800;
}

.return-home {
    color: white;
    text-decoration: none;
    margin: 1vh 0;
}

.return-home:hover {
    color: var(--yellow);
    transition: all 100ms ease-in-out;
}


@media only screen and (max-width: 640px) {
    .active-input-letter {
        font-size: 1rem;
    }

    .submit,
    .shuffle,
    .backspace {
        font-size: 0.5rem;
        margin: 1vw 1vw;
        width: 20vw;
        height: 8vw;
    }

    .flex-letters {
        margin: 2.5vw 2vw;
    }

    .feedback-active {
        font-size: 0.75rem;
    }

    .score-box {
        width: 70vw;
    }

    .results {
        width: 70vw;
        font-size: 0.5rem;
    }

    .result-item-text {
        font-size: 1.2rem;
    }

    .result-title {
        font-size: 2rem;
    }

    .main-home-bg {
        flex-direction: column;
        justify-content: space-around;
    }

    .main-home-gamelogs {
        height: 75vh;
        width: 70%;
    }

    .main-home-right {
        flex-direction: row;
        justify-content: space-between;
        margin: 5vh 0;

    }

    .main-home-extra {
        height: 10vh;
        display: flex;
        justify-content: space-between;

    }

    .play-button {}



    .home-text {
        font-size: 1rem;
    }

}